@charset "UTF-8";

@font-face {
    font-family: cursiva;
    src: url(fontes/PWSchoolScript.ttf);
}

body {

}

header {
    background-color: black;
    font-family: 'Courier New', Courier, monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin: 10px 0px;
    padding: 20px;
}

header > h1 {
    margin: 30px auto 0px auto;
}

article {
    font-family: cursiva,'Times New Roman', Times, serif;
    text-align: justify;
}

footer {
    text-align: center;
    background-color: black;
    color: white
}

